click==7.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
numpy==1.18.2 
transformers==3.0.2
tensorflow==1.15
ipywidgets==7.5.1
pandas==1.1.0
setuptools==45.0.0
aiohttp==3.6.2
Pillow==7.1.1
python-multipart==0.0.5
starlette==0.13.3
torch==1.5.0
torchvision==0.6.0
uvicorn==0.11.3